body{
    background-color: rgb(43, 50, 64);
    color: rgb(211, 211, 211);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: left;
    align-self: center;
    height: 100%;
    margin-left: 25%;
    margin-right: 25%;
    font-family: verdana;
}

.logo {
    width: 4rem;
    height: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.paragraph{
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;
    line-height: 1.5;

    text-indent: 1.5rem;
}

#logos{
    padding-top: 4rem;
    padding-left: 3rem;
}

#header{
    display: flex;
}

#headshot{
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    margin-top: 3rem;
    margin-right: 3rem;
}

#title{
    padding-top: .5rem;
    font-size: 3.8rem;
}

#description{
    margin-top: -2rem;
    margin-bottom: 1rem;
    font-size: 1rem;
}
